name: Tweet Bot

on:
  schedule:
    # JST 7:00-23:00 (UTC 22:00-14:00) every hour
    - cron: "0 22,23,0-14 * * *"
  workflow_dispatch:

concurrency:
  group: tweet-bot
  cancel-in-progress: true

jobs:
  tweet-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up python and install uv
        uses: ./.github/actions/setup
        with:
          python-version: 3.11
          uv-version: 0.6.14
      - name: Post a regular tweet
        uses: ./.github/actions/post_tweet
        with:
          database-url: ${{ secrets.DATABASE_URL }}
          database-key: ${{ secrets.DATABASE_KEY }}
          twitter-api-key: ${{ secrets.TWITTER_API_KEY }}
          twitter-api-key-secret: ${{ secrets.TWITTER_API_KEY_SECRET }}
          twitter-access-token: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          twitter-access-token-secret: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
